

:root {
    --colour-primary: #D8B4F8;
    --colour-secondary: #FFC7EA;
    --colour-third: #CAEDFF;
    --colour-fourth: #FBF0B2;
}

hr {
    height: 0.1px;
    background-color: #363636;
    border: none;
}

.bg-primary {
    background-color: var(--colour-primary);
}

.bg-secondary {
    background-color: var(--colour-secondary);
}

.bg-third {
    background-color: var(--colour-third);
}

.bg-fourth {
    background-color: var(--colour-fourth);
}

.bg-white {
    background-color: #fff;
}

.text-primary {
    color: var(--colour-primary);
}

.text-secondary {
    color: var(--colour-secondary);
}

.text-third {
    color: var(--colour-third);
}

.text-fourth {
    color: var(--colour-fourth);
}

.border-primary {
    border-color: var(--colour-primary);
}

.border-secondary {
    border-color: var(--colour-secondary);
}

.border-third {
    border-color: var(--colour-third);
}

.border-fourth {
    border-color: var(--colour-fourth);
}

.text-white {
    color: #fff;
}

.text-black {
    color: #1c1c1c;
}

.text-sm {
    font-size: 14px;
}

.text-md {
    font-size: 16px;
}

.text-lg {
    font-size: 18px;
}

.text-xl {
    font-size: 20px;
}

.text-2xl {
    font-size: 24px;
}

.text-3xl {
    font-size: 28px;
}